# Variables and types

In [ ]:

## creating variables
my_name = "Rebecca"
my_birth_month = 9
my_birth_day = 19
my_birth_year = 1988
frac_of_month = 19/30
female = True

In [ ]:
## check types
print(type(my_name))
print(type(my_birth_day))
print(type(frac_of_month))
print(type(female))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [ ]:

## convert between types
### change female from boolean (True or False)
### to integer (1 = True; 0 = False)
female_int = int(female)
print(type(female_int))
print(female_int)

<class 'int'>
1

In [ ]:
### change birth month from integer
### to float
bmonth_float = float(my_birth_month)
print(bmonth_float)

9.0

# Lists

In [ ]:
## create a list
list_new = [9, 19, 1988]
list_existing = [my_birth_month, my_birth_day, 
                 my_birth_year]

print(list_new)
print(list_existing)
print(type(list_existing))
print(len(list_existing))

len('9191988')

[9, 19, 1988]
[9, 19, 1988]
<class 'list'>
3

7

# List comprehension

In [ ]:
## copy over list to give more informative name
bday_info = list(list_existing)
print(bday_info)

## convert each element to a string- general transformation
bday_info_string = [str(num) for num in bday_info]
print(bday_info_string)

[9, 19, 1988]
['9', '19', '1988']

In [ ]:
## conditional transformation - add a 0 if only 1-char long
bday_info_string_pad = ['0' + num if len(num) == 1   
                        else num
                        for num in bday_info_string]
print(bday_info_string_pad)

['09', '19', '1988']

In [ ]:
[0 + num if len(num) == 1   
                  else num
                  for num in bday_info_string]

TypeError: ignored

In [ ]:
## filtering
month_day_subset = bday_info_string_pad[0:2]
print(month_day_subset)
month_day_subset_lc = [el for el in bday_info_string_pad 
                      if el != '1988']
print(month_day_subset_lc)

['09', '19']
['09', '19']

In [ ]:
### list comprehension more robust to 
### reordering
new_list = ['1988', '09', '19']
### indexing gives us wrong answer
print(new_list[0:2])
### list comp. gives us right answer
print([el for el in new_list 
      if el != '1988'])

['1988', '09']
['09', '19']

In [ ]:
## example of regex to separate days versus months
### import module
import re
### month pattern is 01...09 or 11 or 12
month_pattern = r'0[1-9]|1[1-2]'
example_date_str = ['09', '30', '01', '12', '11', '19']
### keep element in list if element matches pattern
keep_months = [el for el in example_date_str
               if re.search(month_pattern, el)]
keep_months

['09', '01', '12', '11']

# Numpy arrays

In [ ]:
## import the module
import numpy as np
## convert keep_months to a 1d array
keep_months_arr = np.array(keep_months)
print(type(keep_months_arr))
print(keep_months_arr)
print(keep_months_arr.shape)

<class 'numpy.ndarray'>
['09' '01' '12' '11']
(4,)

In [ ]:
## create a 2-d array
months_2d = np.array([['09', '10'], 
                      ['September', 'October']])
months_2d

array([['09', '10'],
       ['September', 'October']], dtype='<U9')

In [ ]:
## pull out months (second row)
## and all columns
months_2d[1, :]

array(['September', 'October'], dtype='<U9')