## 0. Load imports

In [34]:
## imports
import pandas as pd
import numpy as np


## print multiple things from same cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## 0. Load data

In [35]:
## load data on 2020 crimes in DC
dc_crim_2020 = pd.read_csv("https://opendata.arcgis.com/datasets/f516e0dd7b614b088ad781b0c4002331_2.csv")
dc_crim_2020.head()
dc_crim_2020.shape
dc_crim_2020.info()

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,BLOCK_GROUP,CENSUS_TRACT,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID
0,-76.926677,38.887565,20122029,2020/08/26 22:37:04+00,EVENING,OTHERS,THEFT/OTHER,5100 - 5299 BLOCK OF A STREET SE,406361.614052,135526.653563,...,009905 1,9905.0,Precinct 104,38.887558,-76.926675,NaN,2020/08/26 12:09:57+00,2020/08/26 21:53:20+00,273318998,NaN
1,-77.042739,38.909931,20122061,2020/08/27 00:16:20+00,EVENING,GUN,ASSAULT W/DANGEROUS WEAPON,11- 15 BLOCK OF DUPONT CIRCLE NW,396293.390000,138007.750000,...,005303 2,5303.0,Precinct 14,38.909923,-77.042736,DUPONT CIRCLE,2020/08/26 21:58:07+00,2020/08/26 21:59:02+00,273318999,NaN
2,-76.986776,38.879821,20122065,2020/08/26 23:04:19+00,EVENING,OTHERS,THEFT/OTHER,1330 - 1399 BLOCK OF POTOMAC AVENUE SE,401147.600000,134664.500000,...,007100 3,7100.0,Precinct 91,38.879813,-76.986774,CAPITOL HILL,2020/08/26 21:42:47+00,2020/08/26 21:47:01+00,273319000,NaN
3,-76.977491,38.866096,20122072,2020/08/27 01:27:03+00,EVENING,OTHERS,THEFT F/AUTO,1800 - 2199 BLOCK OF U PLACE SE,401953.608672,133141.097209,...,007605 1,7605.0,Precinct 112,38.866088,-76.977489,NaN,2020/08/24 18:30:27+00,2020/08/26 12:00:30+00,273319001,NaN
4,-77.045779,38.901019,20122081,2020/08/27 00:06:36+00,EVENING,OTHERS,THEFT/OTHER,2000 - 2099 BLOCK OF PENNSYLVANIA AVENUE NW,396029.230000,137018.530000,...,010800 1,10800.0,Precinct 2,38.901011,-77.045776,NaN,2020/08/26 22:50:53+00,2020/08/26 23:05:08+00,273319002,NaN

(27912, 25)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27912 entries, 0 to 27911
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   X                     27912 non-null  float64
 1   Y                     27912 non-null  float64
 2   CCN                   27912 non-null  int64
 3   REPORT_DAT            27912 non-null  object
 4   SHIFT                 27912 non-null  object
 5   METHOD                27912 non-null  object
 6   OFFENSE               27912 non-null  object
 7   BLOCK                 27912 non-null  object
 8   XBLOCK                27912 non-null  float64
 9   YBLOCK                27912 non-null  float64
 10  WARD                  27912 non-null  int64
 11  ANC                   27912 non-null  object
 12  DISTRICT              27883 non-null  float64
 13  PSA                   27877 non-null  float64
 14  NEIGHBORHOOD_CLUSTER  27912 non-null  object
 15  BLOCK_GROUP           27911 non-null  object
 16  CENSUS_TRACT          27911 non-null  float64
 17  VOTING_PRECINCT       27912 non-null  object
 18  LATITUDE              27912 non-null  float64
 19  LONGITUDE             27912 non-null  float64
 20  BID                   4657 non-null   object
 21  START_DATE            27911 non-null  object
 22  END_DATE              24831 non-null  object
 23  OBJECTID              27912 non-null  int64
 24  OCTO_RECORD_ID        0 non-null      float64
dtypes: float64(10), int64(3), object(12)
memory usage: 5.3+ MB

## 1. Aggregation

### Example of grouping by one variable and doing one aggregation 

**Task**: find and print the number of unique offense types (`OFFENSE`) by ward (`WARD`)

*Hint:* `'nunique'` is the built-in pandas aggregation function for counting unique elements in a list.

In [36]:
## your code here
dc_crim_2020.groupby('WARD')['OFFENSE'].agg('nunique').reset_index()

   WARD  OFFENSE
0     1        9
1     2        9
2     3        8
3     4        8
4     5        9
5     6        9
6     7        9
7     8        9

### Example of grouping by one variable and providing two summaries of the same variable

**Task**: The previous task showed number of offenses by ward, but now say we want to find out the content of offenses in each ward. Create an aggregation that summarizes both the number of unique offenses by ward **and** what those offenses are -- for instance, by pasting the unique offenses in that ward separated by the ";" (e.g., Theft; Burglary;...).

*Hint 1*: You can use a lambda function with the join command to paste together a list separated by some delimiter. The syntax looks like (with a comma delimiter): `", ".join(nameoflist)`. 

*Hint 2*: You can get a list of all unique elements of a list with `nameoflist.unique()`.

In [37]:
## your code here
dc_crim_2020.groupby('WARD').agg({'OFFENSE': ["nunique", lambda offenses: "; ".join(offenses.unique())]}).reset_index()

  WARD OFFENSE
       nunique                                         <lambda_0>
0    1       9  THEFT/OTHER; MOTOR VEHICLE THEFT; THEFT F/AUTO...
1    2       9  ASSAULT W/DANGEROUS WEAPON; THEFT/OTHER; THEFT...
2    3       8  BURGLARY; THEFT F/AUTO; THEFT/OTHER; MOTOR VEH...
3    4       8  ROBBERY; THEFT F/AUTO; THEFT/OTHER; MOTOR VEHI...
4    5       9  THEFT F/AUTO; ASSAULT W/DANGEROUS WEAPON; THEF...
5    6       9  THEFT/OTHER; ASSAULT W/DANGEROUS WEAPON; BURGL...
6    7       9  THEFT/OTHER; THEFT F/AUTO; MOTOR VEHICLE THEFT...
7    8       9  THEFT F/AUTO; MOTOR VEHICLE THEFT; THEFT/OTHER...

### Example of grouping by two variables 

**Task**: group by ward (`WARD`) and police shift (`SHIFT`) and find the offense that is most common in that ward and shift.

*Hint*: Use `value_counts()` to count the frequency of each type of `OFFENSE`, then slice the first element from the sorted result.

In [38]:
## your code here
dc_crim_2020.groupby(['WARD', 'SHIFT']).agg({'OFFENSE': lambda offenses: [offenses.value_counts().index[0], offenses.value_counts()[0]]}).reset_index()

    WARD     SHIFT                            OFFENSE
0      1       DAY                 [THEFT/OTHER, 568]
1      1   EVENING                 [THEFT/OTHER, 783]
2      1  MIDNIGHT                 [THEFT/OTHER, 236]
3      2       DAY                 [THEFT/OTHER, 841]
4      2   EVENING                [THEFT/OTHER, 1330]
5      2  MIDNIGHT                 [THEFT/OTHER, 272]
6      3       DAY                 [THEFT/OTHER, 276]
7      3   EVENING                 [THEFT/OTHER, 356]
8      3  MIDNIGHT                  [THEFT/OTHER, 76]
9      4       DAY                [THEFT F/AUTO, 510]
10     4   EVENING                 [THEFT/OTHER, 475]
11     4  MIDNIGHT                 [THEFT/OTHER, 136]
12     5       DAY                [THEFT F/AUTO, 697]
13     5   EVENING                 [THEFT/OTHER, 751]
14     5  MIDNIGHT                 [THEFT/OTHER, 203]
15     6       DAY                 [THEFT/OTHER, 669]
16     6   EVENING                 [THEFT/OTHER, 907]
17     6  MIDNIGHT                 [THEFT/OTHER, 212]
18     7       DAY                [THEFT F/AUTO, 567]
19     7   EVENING                 [THEFT/OTHER, 545]
20     7  MIDNIGHT                 [THEFT/OTHER, 245]
21     8       DAY                [THEFT F/AUTO, 298]
22     8   EVENING                 [THEFT/OTHER, 350]
23     8  MIDNIGHT  [ASSAULT W/DANGEROUS WEAPON, 185]

## Summarizing over all rows or all columns (without grouping)

We can also use the `apply` function to summarize rows or columns efficiently

**Task**: Find the mean latitude and longitude in one line of code.

In [39]:
## your code here
dc_crim_2020[["LONGITUDE", "LATITUDE"]].apply('mean', axis=0)

LONGITUDE   -77.007039
LATITUDE     38.907616
dtype: float64

## 2. Creating new columns/transforming their type

### Simple np.where

`np.where` is in the numpy package (aliased as `np`) and operates similar to `ifelse` in R

**Task**: Create a new column `is_theft` in `dc_crim_2020` with a True/False indicator for any offense that contains the word "THEFT".

In [40]:
## your code here
dc_crim_2020["is_theft"] = np.where(dc_crim_2020["OFFENSE"].str.contains('THEFT'), True, False)

**Task**: Create another indicator `is_theft_notmotor` for any offense that contains the word "THEFT" but does not contain the word "MOTOR"

*Hint*: Use the tilde (`~`) to negate a condition

In [41]:
## your code here
dc_crim_2020["is_theft_notmotor"] = np.where(dc_crim_2020["OFFENSE"].str.contains('THEFT') & ~dc_crim_2020["OFFENSE"].str.contains("MOTOR"), True, False)

### np.select

**Task**: Create a new variable, `offense_summary`, where you:
        
- Recode theft offenses that use a `GUN` or `KNIFE` as the method (`METHOD`) as: `violent_theft`
- Recode non-theft offenses that use a `GUN` or `KNIFE` as the method as: `violent_other`
- Recode all other as `non-violent`

*Hint 1*: There are multiple conditons to satisfy here. Use your `is_theft` indicator in conjunction with the one you're creating based on the `METHOD` column.

*Hint 2*: When using `np.select()`, remember these steps: 
1. create a list of conditions
2. create a list of corresponding names you want to recode into
3. apply the above to create a new column

In [42]:
## your code here
conditions = [dc_crim_2020['is_theft'] & dc_crim_2020['METHOD'].isin(['GUN', 'KNIFE']), ~dc_crim_2020['is_theft'] & dc_crim_2020['METHOD'].isin(['GUN', 'KNIFE'])]
crime_categories = ["violent_theft", "violent_other"]
dc_crim_2020["offense_summary"] = np.select(conditions, crime_categories, default="nonviolent")
dc_crim_2020["offense_summary"].value_counts()

nonviolent       25240
violent_other     2637
violent_theft       35
Name: offense_summary, dtype: int64

### Using built-in pandas methods

Another way of creating variables, used either alone or in combination with np.where and np.select is to use pandas built in `str` methods

Basic structure is: `df['namestringcol'].str.someoperation`

**Task**: using a `str` method, create a new variable--`OFFENSE_NOSP`--that replaces spaces in the `OFFENSE` column with underscores

*Hint*: The string method for *replacing* things is called what you would expect.

In [43]:
## your code here
dc_crim_2020["OFFENSE_NOSP"] = dc_crim_2020["OFFENSE"].str.replace(" ", "_")

### Transforming column types

**Task**: check the type of the `START_DATE` column

In [44]:
## your code here
dc_crim_2020["START_DATE"].dtype

dtype('O')

**Task**: recast the `START_DATE` column to datetime, calling this `START_DATE_CLEAN`; coerce errors rather than cleaning the string; check the type of that new col

In [45]:
## your code here
dc_crim_2020["START_DATE_CLEAN"] = pd.to_datetime(dc_crim_2020["START_DATE"], errors="coerce")
dc_crim_2020["START_DATE_CLEAN"].dtype

datetime64[ns, UTC]

**Task:** print the min and max of `START_DATE_CLEAN`. What happens if you try to do this with `START_DATE`?

In [46]:
## your code here
print(dc_crim_2020["START_DATE_CLEAN"].min(), dc_crim_2020["START_DATE_CLEAN"].max())

# returns error:
# print(dc_crim_2020["START_DATE"].min(), dc_crim_2020["START_DATE"].max())

1940-02-17 00:00:16+00:00 2021-01-01 02:30:21+00:00

## 3. Row and column filtering

### Row subsetting

**Task**: filter to crime reports about theft using the `is_theft` definition and that are in ward 3

In [47]:
## your code here
theft_ward3 = dc_crim_2020[(dc_crim_2020["WARD"] == 3) & (dc_crim_2020["is_theft"] == True)]

### Column subsetting

**Task**: select two columns--`START_DATE` and `END_DATE`--and print the head of the dataframe

In [48]:
## your code here
dc_crim_2020[["START_DATE", "END_DATE"]].head()

               START_DATE                END_DATE
0  2020/08/26 12:09:57+00  2020/08/26 21:53:20+00
1  2020/08/26 21:58:07+00  2020/08/26 21:59:02+00
2  2020/08/26 21:42:47+00  2020/08/26 21:47:01+00
3  2020/08/24 18:30:27+00  2020/08/26 12:00:30+00
4  2020/08/26 22:50:53+00  2020/08/26 23:05:08+00

**Task**: use list comprehension to automate this a bit and select all columns with the word "DATE" in the name; print the head of the dataframe

In [49]:
## your code here
dc_crim_2020[[col for col in dc_crim_2020.columns if "DATE" in col]].head()

               START_DATE                END_DATE          START_DATE_CLEAN
0  2020/08/26 12:09:57+00  2020/08/26 21:53:20+00 2020-08-26 12:09:57+00:00
1  2020/08/26 21:58:07+00  2020/08/26 21:59:02+00 2020-08-26 21:58:07+00:00
2  2020/08/26 21:42:47+00  2020/08/26 21:47:01+00 2020-08-26 21:42:47+00:00
3  2020/08/24 18:30:27+00  2020/08/26 12:00:30+00 2020-08-24 18:30:27+00:00
4  2020/08/26 22:50:53+00  2020/08/26 23:05:08+00 2020-08-26 22:50:53+00:00

**Task**: filter reports of crime in `START_DATE_CLEAN` before May 2020 and that are located in ward 1; select the ward and `START_DATE` column and print a random sample of rows

*Hint*: Use `sample(n = 10)` to get 10 random rows.

In [50]:
## your code here
dc_crim_2020.loc[(dc_crim_2020["START_DATE_CLEAN"] < "2020-05-01") & (dc_crim_2020["WARD"] == 1), ("START_DATE", "WARD")].sample(10)

                   START_DATE  WARD
11349  2020/03/06 20:34:04+00     1
5739   2020/01/18 07:06:05+00     1
25213  2020/01/10 01:00:05+00     1
6281   2020/01/03 21:00:52+00     1
9364   2020/02/16 22:22:48+00     1
24452  2020/04/29 22:00:30+00     1
9764   2020/02/17 17:15:41+00     1
5430   2020/01/02 03:07:41+00     1
24604  2019/12/26 22:42:11+00     1
11790  2020/03/26 05:10:40+00     1