# 0. Problem set 1: Python basics

**Total points**: 24

This problem set will:

- Make sure your jupyter notebook installation is working
- Give you practice with the following basic Python concepts covered in lecture (and optionally on DataCamp):
  - Python lists
  - Basic list comprehension
  - `numpy` arrays

# 1 Practice with lists (9 points)

## 1.1 List addition (2 points)
We provide you with a list of our names below.

- Use list addition to add your name to the list
- Store this as a new list called `instructor_my_name`
- Print that list

In [ ]:
## list of instructor names
instructor_names = ['Eunice', 'Jaren', 'Ramsey']

In [ ]:
## your code here to store and print list

## 1.2 List indexing (2 points)

- Use the `.index()` method to get the index of the professor's name (Jaren)
- Use that index to extract that name
- Store it in a list called `prof` and print

In [ ]:
## your code here to get index of prof's name

In [ ]:
## your code here to extract the name and print

## 1.3 Indexing lists of lists (2 points)

We provide you with the below list of lists (`roles_listoflists`).

- Use subsetting to pull out the role of Jaren (can just hard code the relevant indices)
- Pull out and print the type of the element at index 1 (Eunice's name and role)

In [ ]:
## list of names and roles
roles_listoflists = [['Jaren', 'Prof'], ['Eunice', 'TA'], ['Ramsey', 'Tutor']]

In [ ]:
## your code here to pull out role of jaren

In [ ]:
## your code here to pull out and print the type at index 1

## 1.4 Editing list elements (3 points)

- In `roles_listoflists`, replace the role 'TA' with the role 'Teaching Assistant' (fine to do in two lines of code)
- Print the updated list

In [ ]:
## your code here to replace role text and print updated list

# 2. Practice with list comprehension (9 points)

Here, we provide you with a list containing the course codes for a few Dartmouth College Fall 2022 courses.

In [ ]:
## course code list 
course_codes = ["QSS 20", "QSS 17", "COSC 1", "GOV 10"]

## 2.1 Using list comprehension to keep all elements / transform them (3 points)

- Create a new list, `course_codes_ns`, that removes the spaces in each course code: e.g., 'QSS 20' should become 'QSS20'
- Print `course_codes_ns`

*Hint*: If you're new to regular expressions, then use a built-in string method: `str.replace()`.

In [ ]:
## your code here to create list without spaces and print

## 2.2 Using list comprehension to subset a list (3 points)

- Using `course_codes_ns`, create a new list just with courses with 'QSS' in the name; store it as `course_codes_qss`

*Hint*: Use an 'if' statement in the list comprehension to implement the condition.

In [ ]:
## your code here to create and store new QSS-specific list

## 2.3 Using list comprehension to conditionally change a list's elements (3 points)

- using `course_codes_ns`, add the string prefix "coding_" to COSC 1 and QSS 20; "stats_" to GOV 10 and QSS 17
- Store as `course_codes_detail` and print

*Hint*: You can implement an if-else statement in a list comprehension ("conditional transformation") with this syntax:
```python
[elem_transform1 if condition else elem_transform2 for elem in lst]
```

In [ ]:
## your code here to add prefixes, store, and print

# 3. Practice with `numpy` arrays (6 points)

## 3.1 Converting a list to an array (2 points)

- A. Transform the roles_listoflists from the previous part (so with TA replaced with teaching assistant)into a 2D numpy array; call it roles_array
- B. Print the shape/dimensions of `roles_array`

In [ ]:
## your code here

## 3.2 Subsetting arrays using True/False (boolean) indicators (2 points)

- A. Create a boolean indicator for rows where the role (second column) == 'Teaching Assistant' and print that indicator
- B. Use that boolean indicator to subset roles_array store the array as roles_TA 
- C. Print the `roles_TA` array and its dimensions (should be 1x2)

In [ ]:
## your code here

In [ ]:
## your code here

In [ ]:
## your code here

## 3.3 Adding to an array (2 points)

- A. Use <code>np.append</code> (google the documentation) to add the following column with the netid of the one TA listed to the roles_TA array as the last column
- B. Store as role_TA_net
- C. Print the dimensions (should be 1x3)

In [ ]:
## column to add 
netid = np.array([['yl1374']])
print(netid)

In [ ]:
## your code here

In [ ]:
## your code here